*{
    padding: 0;
    margin: 0;
}
body {
background-color: aliceblue;
}
.form{
    margin-top: 1.5rem;
    padding: 12px;
    text-align: center;
}
.btn{
    color: Green;
}
.p1{
    text-align: match-parent;
    text-justify: auto;
    color: blue;
}
.user_table tr{
    justify-content: space-between;
